<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Naxam.AndroidJob.Droid" version="1.0.13-pre1" targetFramework="monoandroid71" />
  <package id="Naxam.AndroidMapsUtils.Droid" version="0.4.1" targetFramework="monoandroid71" />
  <package id="Naxam.Cat.Droid" version="1.0.4-pre1" targetFramework="monoandroid71" />
  <package id="Naxam.EventBus.Droid" version="3.0.0-pre1" targetFramework="monoandroid71" />
  <package id="Naxam.Google.Gson" version="2.8.0" targetFramework="monoandroid71" />
  <package id="Naxam.GreenDao.Droid" version="3.2.0-pre1" targetFramework="monoandroid71" />
  <package id="Naxam.GreenDaoApi.Droid" version="3.2.0-pre1" targetFramework="monoandroid71" />
  <package id="Naxam.Retrofit2.ConvertGson.Droid" version="2.1.0.2" targetFramework="monoandroid71" />
  <package id="Naxam.Retrofit2.Droid" version="2.1.0" targetFramework="monoandroid71" />
  <package id="Naxam.RxJava.Droid" version="1.1.8-pre1" targetFramework="monoandroid71" />
  <package id="Sitata.Droid" version="0.2.0-pre" targetFramework="monoandroid71" />
  <package id="Square.OkHttp" version="2.4.0.0" targetFramework="monoandroid71" />
  <package id="Square.OkHttp3" version="3.5.0" targetFramework="monoandroid71" />
  <package id="Square.OkIO" version="1.11.0" targetFramework="monoandroid71" />
  <package id="Square.Picasso" version="2.5.2.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Annotations" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Compat" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.UI" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Core.Utils" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Design" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Fragment" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Media.Compat" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Transition" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v4" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.CardView" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.GridLayout" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="25.3.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Build.Download" version="0.4.5" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Base" version="42.1021.1" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Basement" version="42.1021.1" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Location" version="42.1021.1" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Maps" version="42.1021.1" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Places" version="42.1021.1" targetFramework="monoandroid71" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="42.1021.1" targetFramework="monoandroid71" />
</packages>